services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devops
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_pass
    volumes:
      - mysql_data:/var/lib/mysql
      - ./message.sql:/docker-entrypoint-initdb.d/message.sql:ro
    networks:
      - app-net

  flask:
    build: .
    container_name: flask-app
    restart: unless-stopped
    depends_on:
      - mysql
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_pass
      MYSQL_DB: devops
    ports:
      - "5000:5000"
    networks:
      - app-net

volumes:
  mysql_data:

networks:
  app-net:
    driver: bridge

